{% extends 'base.html.twig' %}

{% block title 'Homepage' %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello!</h1>

    <ul>
        <li><a href="{{ path('registration') }}">Register</a></li>
    </ul>

    {% for user in users %}
        {% if loop.first %}
            <h2>Registrations</h2>
        {% endif %}
        <p>#{{ user.id }}: {{ user.username }} - {{ user.email }}</p>
    {% else %}
        <p>No user</p>
    {% endfor %}
</div>
{% endblock %}
